@model DisasterRecovery.Models.TimeCardDetail

@{
    ViewBag.Title = "Details";
    if (Session["LogedUserRole"] == "Contractor")
    {
        Layout = "~/Views/Shared/_LayoutContractor.cshtml";
    }
}

<h2>Details</h2>

<div>
    <h4>TimeCardDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours)

            @{ if (Model.Hours > Model.JobList.MaxHour)
                {
                    <Span style="color:red"> (Exceeded Max Hours)</Span>
                    ViewBag.Alert = 1;
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobList.JobName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobList.JobName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeCard.TimeStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeCard.TimeStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTimeCardDetails }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@{ if (ViewBag.Alert == 1)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Warning!</strong> Check some of those fields above, Time Card may be rejected.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}
