@model IEnumerable<DisasterRecovery.Models.TimeCardDetail>

@{
    ViewBag.Title = "Index";
    var totalHours = ViewBag.TotalHours;
    var totalAmount = ViewBag.TotalAmount;
    
     if (Session["LogedUserRole"] == "Contractor")
    {
        Layout = "~/Views/Shared/_LayoutContractor.cshtml";
    }
}


<center>
    <h2>Labor Entry</h2>
</center>


<p>
    @Html.ActionLink("Add Labor", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            Job
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td> </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobList.JobName)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdTimeCardDetails}) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdTimeCardDetails})
        </td>
    </tr>
}
<tr>
    <th> Totals</th>
    <td> @totalHours</td> 
    <td> @totalAmount</td>
</tr>
   
</table>

<div>
    @Html.ActionLink("Submit Entry", "Submit")|
    @Html.ActionLink("Finish Later", "FinishLater")|
    @Html.ActionLink("Cancel", "Cancel")

</div>
