@model DisasterRecovery.Models.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create";
}

<h2>Create a New User</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="control-label" for="Username">User Name:</label>
               <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="FirstName">First Name:</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="LastName">Last Name:</label>
               <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="Email">Email:</label>
               <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="UserPassWord">User PassWord:</label>
               <div class="col-md-10">
                    @Html.EditorFor(model => model.UserPassWord, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.UserPassWord, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="control-label" for="UserStatus">User Status:</label>
                <div class="col-md-10">
                    <select class="form-control" id="UserStatus" name="UserStatus">
                        <option selected="selected" value="0">Inactive</option>
                        <option selected="selected" value="1">Active</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="IsAdm">User Role:</label>
                <div class="col-md-10">
                    <select class="form-control" id="IsAdm" name="IsAdm">
                        <option selected="selected" value="1">Administrator</option>
                        <option selected="selected" value="0">Contractor</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="IdSubContractor">Sub Contractor:</label>
                <div class="col-md-10">
                    @Html.DropDownList("IdSubContractor", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdSubContractor, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
    </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
