@model DisasterRecovery.Models.User

@{
    ViewBag.Title = "Details";
}

    <h2>@Html.DisplayFor(model => model.FirstName)'s Details</h2>
<div class="row">
    <div class="col">
        <dl>
            <dt>
                User Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                First Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                Last Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                Email:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
</div>
    <div class="col">
        <dt>
            Status:
        </dt>

        <dd>
            @{ if (Model.UserStatus == "1")
                {
                    <p>Active</p>
                }
                else
                { <p>Inactive</p> }
            }
        </dd>

        <dt>
            User Role:
        </dt>

        <dd>
            @{ if (Model.IsAdm == 1)
                {
                    <p>Administrator</p>
                }
                else
                { <p>Contractor</p> }
            }
        </dd>

        <dt>
            Sub Contractor:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubContractor.SubContractorName)
        </dd>
        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdUser }) |
    @Html.ActionLink("Back to List", "Index")
</p>
