@model DisasterRecovery.Models.SubContractor

@{
    ViewBag.Title = "Details";
}

    <h2>Details of Contractor</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubContractorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubContractorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractorAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractorAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubContractorStatus)
        </dt>

        <dd>

            @if (@Html.DisplayFor(model => model.SubContractorStatus).ToString() == "1")
            {
                <p>Inactive</p>
            }
            else
            {
                <p>Active</p>
            }

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdSubContractor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
