@model IEnumerable<DisasterRecovery.Models.SubContractor>

@{
    ViewBag.Title = "Index";
}

<h2>Contractor Management</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table" id=" "SubContractorTable">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.SubContractorName)*@
            Contractor Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ContractorAddress)*@
            Contractor Address
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th>
            Contractor Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubContractorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractorAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>

                @if (item.SubContractorStatus == 1)
                {
                    <p>Inactive</p>
                }
                else
                {
                    <p>Active</p>
                }

                @*@Html.DisplayFor(modelItem => item.SubContractorStatus)*@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdSubContractor }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdSubContractor }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdSubContractor })
            </td>
        </tr>
    }

</table>
