@model IEnumerable<DisasterRecovery.Models.JobList>

@{
    ViewBag.Title = "Index";
}

<h2>Job List Management</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />

<table class="table" id="JoblistTable">
    <thead class="">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.JobName)*@
                Job Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.JobDescription)*@
                Job Description
            </th>
            <th>
                Rate
            </th>
            <th>
                Maximum Hours
            </th>
            <th>
                Labor Status
            </th>
            <th>
                Contractor Name
            </th>
            <th></th>
        </tr>
    </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxHour)
                </td>
                <td>
                    @if (item.LaborStatus == 1)
                    {
                        <p>Active</p>
                    }
                    else
                    {
                        <p>Inactive</p>
                    }
                    @*@Html.DisplayFor(modelItem => item.LaborStatus)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubContractor.SubContractorName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdJobList }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdJobList }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdJobList })
                </td>
            </tr>
        }

</table>