@model IEnumerable<DisasterRecovery.Models.SiteLocation>
@{
    ViewBag.Title = "Locations";
}

<h2>Site Locations Management</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table" id="SiteLocationTable">
    <thead class="">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.LocationName)*@
                Location Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SiteCode)*@
                Site Code
            </th>
            <th>
                Zip Code
            </th>
            <th></th>
        </tr>
    </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SiteID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SiteID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SiteID })
                </td>
            </tr>
        }

</table>
