@model DisasterRecovery.Models.TimeCard

@{
    ViewBag.Title = "Details";

     if (Session["LogedUserRole"] == "Contractor")
    {
        Layout = "~/Views/Shared/_LayoutContractor.cshtml";
    }
}
<center>
    <h2>Submission Details</h2>
</center>
<div>
    <hr />

    <h4>Jobs Performed</h4>

    <table class="table">
        <tr>
            <th>
                Hours
            </th>
            <th>
                Amount
            </th>
            <th>
                Job
            </th>

        </tr>

        @foreach (var item in Model.TimeCardDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobList.JobName)
                </td>

            </tr>
        }

    </table>

    <h4>Summary</h4>

    <table class="table">
        <tr>
            <th>
                Total Hours
            </th>

            <th>
                Total Amount
            </th>

            <th>
                Submission Status
            </th>

            <th>
                Date Submitted
            </th>

            <th>
                Location
            </th>
            <th>
                Contractor Name
            </th>
            
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.TotalHours)
            </td>

            <td>
                @Html.DisplayFor(model => model.TotalAmount)
            </td>

            <td>
                @Html.DisplayFor(model => model.TimeStatus)
            </td>

            <td>
                @Html.DisplayFor(model => model.RegDate)
            </td>

            <td>
                @Html.DisplayFor(model => model.SiteLocation.LocationName)
            </td>

            <td>
                @Html.DisplayFor(model => model.SubContractor.SubContractorName)
            </td>

        </tr>

    </table>


    @if (Model.TimeStatus == "Approved")
    {
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>

    }
    else
    {
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTimeCard }) |
    @Html.ActionLink("Back to List", "Index")
</p>
        
    }

    