@model DisasterRecovery.Models.TimeCard

@{
    ViewBag.Title = "Edit";
}

    <center>
        <h2>TimeCard Submission</h2>

    </center>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Add/Edit Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdTimeCard)

        <table class="table">
            <tr>
                <th>
                   Site Location:
                   @Html.DropDownList("SiteID")
                   @Html.ValidationMessageFor(model => model.SiteID, "", new { @class = "text-danger" })
                </th>
                <th>
                    Contractor:
                    @Html.DropDownList("IdSubContractor")
                    @Html.ValidationMessageFor(model => model.IdSubContractor, "", new { @class = "text-danger" })

                </th>

                <th>
                    Submitted by:
                    @Html.DropDownList("IdUser")
                    @Html.ValidationMessageFor(model => model.IdUser, "", new { @class = "text-danger" })
                </th>
                
            </tr>
        </table>

      

   
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
